// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
nav.pagination {
  margin-bottom: 4px;
  
  span.page{
  border: 1px solid grey;
  // padding: 4px;
  padding: 2px 2px 2px 0px;
  margin-right: 2px;

    a{
      margin-left: 6px;
    }
  }
}
